---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Mitgliedschaft – FSC Berlin e.V.">
  <div class="container section">
    <div class="page-content">

      <h2>Mitgliedschaft</h2>
      <p>
        Zur dauerhaften Teilnahme am Clubbetrieb, über das vierwöchige Probetraining
        hinaus, ist eine Mitgliedschaft erforderlich. Bitte füllen Sie hierfür den unten
        als Download zur Verfügung stehenden Aufnahmeantrag aus und bringen diesen einfach
        zum nächsten Training mit. Auf dem Antrag finden Sie außerdem unsere
        Datenschutzbestimmungen und die Jahresbeitragssätze. Alle weiteren Informationen
        sind in unserer Satzung zu finden. Offene Fragen beantworten wir natürlich gerne
        beim Training oder über
        <a href="mailto:info@fechtsport-club-berlin.de">info@fechtsport-club-berlin.de</a>.
      </p>

      <h4>Downloads</h4>
      <ul class="downloads-list">
        <li>
          Aufnahmeantrag
          <ul class="sub">
            <li>
              <a href="/mitgliedschaft/aufnahmeantrag_erwachsene.pdf" download
                >für Erwachsene (PDF)</a
              >
            </li>
            <li>
              <a href="/mitgliedschaft/aufnahmeantrag_minderjaehrige.pdf" download
                >für Minderjährige (PDF)</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a href="/mitgliedschaft/Satzung.pdf" download>Satzung (PDF)</a>
        </li>
      </ul>

    </div>
  </div>
</Layout>
