---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Datenschutz &amp; Haftung – FSC Berlin e.V.">
  <div class="container section">
    <div class="page-content">

      <h2>Datenschutzerklärung</h2>

      <h4>Allgemeiner Hinweis und Pflichtinformationen:</h4>
      <p>
        Die Datenschutzerklärung des Fechtsport Club Berlin e.V. beruht auf den
        Begrifflichkeiten, die durch den Europäischen Richtlinien- und Verordnungsgeber
        beim Erlass der Datenschutz-Grundverordnung (DS-GVO) verwendet wurden.
      </p>
      <p>
        Die Nutzung unserer Internetseiten ist grundsätzlich ohne jede Angabe
        personenbezogener Daten möglich. Sofern über unsere Internetseite jedoch eine
        Verarbeitung personenbezogener Daten erforderlich ist und für eine solche
        Verarbeitung keine gesetzliche Grundlage besteht, holen wir generell eine
        Einwilligung der betroffenen Person ein.
      </p>
      <p>
        Die Verarbeitung personenbezogener Daten, beispielsweise des Namens, der
        Anschrift, E-Mail-Adresse oder Telefonnummer einer betroffenen Person, erfolgt
        stets im Einklang mit der Datenschutz-Grundverordnung und in Übereinstimmung mit
        den für den Berliner Fechterbund e.V. geltenden landesspezifischen
        Datenschutzbestimmungen. Mittels dieser Datenschutzerklärung informieren wir über
        Art, Umfang und Zweck der von uns erhobenen, genutzten und verarbeiteten
        personenbezogenen Daten. Ferner werden betroffene Personen mittels dieser
        Datenschutzerklärung über die ihnen zustehenden Rechte aufgeklärt.
      </p>
      <p>
        Der Fechtsport Club Berlin e.V. hat als für die Verarbeitung Verantwortlicher
        zahlreiche technische und organisatorische Maßnahmen umgesetzt, um einen möglichst
        lückenlosen Schutz der über diese Internetseite verarbeiteten personenbezogenen
        Daten sicherzustellen. Dennoch können Internetbasierte Datenübertragungen
        grundsätzlich Sicherheitslücken aufweisen, sodass ein absoluter Schutz nicht
        gewährleistet werden kann. Aus diesem Grund steht es jeder betroffenen Person
        frei, personenbezogene Daten auch auf alternativen Wegen, beispielsweise
        telefonisch, an uns zu übermitteln.
      </p>

      <h4>Benennung der verantwortlichen Stelle:</h4>
      <p>Die verantwortliche Stelle für die Datenverarbeitung auf dieser Website ist:</p>
      <p>
        Fechtsport Club Berlin e.V.<br />
        Christian Kischa (Präsident)<br />
        Benediktinerstraße 34<br />
        13465 Berlin<br />
        <a href="mailto:mail@fechtsport-club-berlin.de">mail@fechtsport-club-berlin.de</a>
      </p>
      <p>
        Die verantwortliche Stelle entscheidet allein oder gemeinsam mit anderen über die
        Zwecke und Mittel der Verarbeitung von personenbezogenen Daten (z.B. Namen,
        Kontaktdaten o. Ä.).
      </p>

      <h4>Erfassung von allgemeinen Daten und Informationen:</h4>
      <p>
        Wir erheben keine personenbezogenen Daten im Rahmen dieser Website und verwenden
        keine Cookies. Wir erheben, verarbeiten oder nutzen aber automatisch
        nicht-persönliche Informationen, die Ihr Browser an uns übermittelt. Bei jedem
        Zugriff eines Besuchers auf unsere Webseite werden durch den auf Ihrem Endgerät
        zum Einsatz kommenden Internet-Browser automatisch Informationen an den Server
        unserer Webseite gesendet. Diese Informationen werden temporär in einem sog.
        Logfile (Protokolldatei) serverseitig (Webhosting Provider) gespeichert. Es findet
        dabei eine Erfassung von webstatistischen Daten über unseren Webhosting Provider
        für Seitenaufrufe und Herkünfte statt. Die Erhebung derartiger Webstatistiken soll
        es uns als Webseiten-Anbieter lediglich ermöglichen, das vorliegende Angebot
        kontinuierlich und orientiert am Nutzerverhalten auszubauen. Die anonymen
        Besucher-Statistiken entsprechen den Konventionen und Vorgaben der EU-DSGVO kraft
        § 4 Nr. 5 sowie des Datenschutzgesetzes der Bundesrepublik Deutschland. Ein
        Rückschluss auf natürliche Personen ist zu keiner Zeit möglich, so dass für
        derartige Erhebungen keine Einwilligung erfolgen muss.
      </p>
      <p>Folgende Daten werden dabei ohne Ihr Zutun erfasst und bis zur automatisierten Löschung gespeichert:</p>
      <ul>
        <li>ggf. IP-Adresse des anfragenden Rechners sowie Geräte-ID oder individuelle Geräte-Kennung und Gerätetyp,</li>
        <li>Name der abgerufenen Datei und übertragene Datenmenge sowie Datum und Uhrzeit des Abrufs,</li>
        <li>Meldung über erfolgreichen Abruf,</li>
        <li>anfragende Domain (Ursprung Ihrer Anfrage),</li>
        <li>Beschreibung des Typs des verwendeten Internet-Browsers und ggf. des Betriebssystems Ihres Endgeräts sowie der Name Ihres Access-Providers,</li>
        <li>Standortdaten, einschließlich Standortdaten von Ihrem Mobilgerät.</li>
        <li>Gewährleistung eines reibungslosen Verbindungsaufbaus und einer komfortablen Nutzung der Webseite,</li>
        <li>Auswertung der Systemsicherheit und -stabilität,</li>
        <li>Bereitstellung notwendiger Informationen für Strafverfolgungsbehörden sowie zu weiteren administrativen Zwecken.</li>
      </ul>

      <h4>Veranlasste personenbezogene Datenerhebung, -verarbeitung und -nutzung</h4>
      <p>
        Die Bereitstellung personenbezogener Daten ist zum Teil gesetzlich vorgeschrieben
        oder kann sich aus vertraglichen Regelungen ergeben. Persönliche Daten werden nur
        erhoben oder verarbeitet, wenn Sie diese Angaben freiwillig, z.B. im Rahmen einer
        Anfrage per E-Mail mitteilen. Bei Kontaktaufnahme auf dem elektronischen Wege
        werden Ihre übermittelten Daten auf der Grundlage von Art. 6 Abs. 1 lit. a DSGVO
        gespeichert und verarbeitet, um Ihre Anfrage bearbeiten zu können oder um für
        Anschlussfragen bereitzustehen. Eine Weitergabe dieser Daten an Dritte findet ohne
        Ihre Einwilligung nicht statt.
      </p>

      <h4>Datensicherheit</h4>
      <p>
        Wir sind um alle notwendigen technischen und organisatorischen
        Sicherheitsmaßnahmen bemüht, um Ihre personenbezogenen Daten so zu speichern, dass
        sie weder Dritten noch der Öffentlichkeit zugänglich sind. Sollten Sie mit uns per
        E-Mail in Kontakt treten wollen, so weisen wir Sie darauf hin, dass bei diesem
        Kommunikationsweg die Vertraulichkeit der übermittelten Informationen nicht
        vollständig gewährleistet werden kann. Wir empfehlen Ihnen daher, uns vertrauliche
        Informationen ausschließlich telefonisch oder über den Postweg zukommen zu lassen.
      </p>

      <h4>Automatisierte Entscheidungsfindung und Profiling</h4>
      <p>
        Der Fechtsport Club Berlin e.V. verzichtet auf eine automatische
        Entscheidungsfindung oder ein Profiling.
      </p>

      <h4>Betroffenenrechte – Widerruf Ihrer Einwilligung zur Datenverarbeitung</h4>
      <p>
        Nur mit Ihrer ausdrücklichen Einwilligung sind einige Vorgänge der
        Datenverarbeitung möglich. Ein Widerruf Ihrer bereits erteilten Einwilligung ist
        jederzeit möglich. Sie haben zudem das Recht, jederzeit gegen die Verarbeitung
        Ihrer personenbezogenen Daten Widerspruch zu erheben. Im Falle eines wirksamen
        Widerrufs werden Ihre personenbezogenen Daten ebenfalls automatisch durch uns
        gelöscht. Möchten Sie von Ihrem Widerrufs- oder Widerspruchsrecht Gebrauch machen,
        genügt eine formlose Mitteilung per E-Mail an:
        <a href="mailto:mail@fechtsport-club-berlin.de">mail@fechtsport-club-berlin.de</a>
      </p>
      <p>
        Auf Anfrage werden wir Sie gerne informieren, ob und welche personenbezogenen
        Daten zu Ihrer Person gespeichert sind (Art. 15 DSGVO). Ihnen steht außerdem das
        Recht zu, unrichtig erhobene personenbezogene Daten berichtigen oder unvollständig
        erhobene Daten vervollständigen zu lassen (Art. 16 DSGVO). Ferner haben Sie das
        Recht, von uns die Einschränkung der Verarbeitung Ihrer Daten zu verlangen, sofern
        die gesetzlichen Voraussetzungen hierfür vorliegen (Art. 18 DSGVO). Sie haben das
        Recht, die Sie betreffenden personenbezogenen Daten in einem strukturierten,
        gängigen und maschinenlesbaren Format zu erhalten oder die Übermittlung an einen
        anderen Verantwortlichen zu verlangen (Art. 20 DSGVO). Darüber hinaus steht Ihnen
        das sogenannte „Recht auf Vergessenwerden" zu (Art. 17 DSGVO).
      </p>

      <h4>Recht auf Beschwerde bei der zuständigen Aufsichtsbehörde:</h4>
      <p>
        Als Betroffener steht Ihnen im Falle eines datenschutzrechtlichen Verstoßes ein
        Beschwerderecht bei der zuständigen Aufsichtsbehörde zu. Zuständige
        Aufsichtsbehörde bezüglich datenschutzrechtlicher Fragen ist der
        Landesdatenschutzbeauftragte des Bundeslandes, in dem sich der Sitz unseres
        Vereins befindet.
        <a
          href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html"
          target="_blank"
          rel="noopener noreferrer">Hier</a
        > steht eine Liste der Datenschutzbeauftragten sowie deren Kontaktdaten bereit.
      </p>

      <h4>Aktualität und Änderung dieser Datenschutzerklärung</h4>
      <p>
        Diese Datenschutzerklärung ist aktuell gültig. Durch die Weiterentwicklung unserer
        Webseite und Angebote darüber oder aufgrund geänderter gesetzlicher bzw.
        behördlicher Vorgaben kann es notwendig werden, diese Datenschutzerklärung zu
        ändern. Die jeweils aktuelle Datenschutzerklärung kann jederzeit auf unserer
        Webseite unter
        <a href="https://www.fechtsport-club-berlin.de/datenschutzundhaftung"
          >fechtsport-club-berlin.de/datenschutzundhaftung</a
        > abgerufen werden.
      </p>

    </div>
  </div>

  <hr class="container" style="margin-bottom: 0;" />

  <div class="container section">
    <div class="page-content">

      <h2>Haftungshinweise</h2>
      <h4>Haftungsausschluss, Bildrechte und Urheberrecht:</h4>
      <p>
        Der Fechtsport Club Berlin e.V. bemüht sich, auf dieser Website richtige und
        vollständige Informationen zur Verfügung zu stellen. Er übernimmt jedoch keine
        Haftung oder Garantie für die Aktualität, Richtigkeit und Vollständigkeit der
        bereitgestellten Informationen. Der Fechtsport Club Berlin e.V. distanziert sich
        hiermit ausdrücklich von den Inhalten aller gelinkten Seiten auf dieser Webseite
        und macht sich diese Inhalte nicht zu eigen. Diese Erklärung gilt für alle Links
        auf diesen Seiten.
      </p>

      <h4>Rechtswirksamkeit dieses Haftungsausschlusses:</h4>
      <p>
        Dieser Haftungsausschluss ist als Teil des Internetangebotes zu betrachten, von
        dem aus auf diese Seite verwiesen wurde. Sofern Teile oder einzelne Formulierungen
        dieses Textes der geltenden Rechtslage nicht, nicht mehr oder nicht vollständig
        entsprechen sollten, bleiben die übrigen Teile des Dokumentes in ihrem Inhalt und
        ihrer Gültigkeit davon unberührt.
      </p>

    </div>
  </div>
</Layout>
