---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Kontakt – FSC Berlin e.V.">
  <div class="container section">
    <div class="page-content">

      <h2>Kontakt</h2>
      <h5>FSC Geschäftsstelle</h5>
      <address style="font-style: normal; line-height: 1.8;">
        Benediktinerstraße 34<br />
        13465 Berlin<br />
        <a href="mailto:info@fechtsport-club-berlin.de">info@fechtsport-club-berlin.de</a
        ><br />
        Tel.: <a href="tel:+4930403048710">030&nbsp;40304871</a><br />
        Fax: 030&nbsp;40304872
      </address>

    </div>
  </div>
</Layout>
