---
import Layout from '../../layouts/Layout.astro';
const year = new Date().getFullYear();
---

<Layout title="Copyright – FSC Berlin e.V.">
  <div class="container section">
    <div class="page-content">

      <h2>Urheberrecht Copyright</h2>
      <p>
        &copy; {year} Fechtsport Club Berlin e.V. Alle Rechte vorbehalten. Die Inhalte
        dieser Website sind urheberrechtlich geschützt. Ohne schriftliche Genehmigung des
        Fechtsport Club Berlin e.V. darf der Inhalt dieser Seite in keiner Form
        reproduziert oder unter Verwendung elektronischer Systeme verarbeitet,
        vervielfältigt oder verbreitet werden.
      </p>
      <p>
        Die Bildrechte für die auf dieser Website verwendeten Bilder sind geklärt. Sollte
        sich trotzdem jemand in seinen Rechten verletzt fühlen, bitten wir Sie darum, sich
        an uns zu wenden.
      </p>
      <p>
        Alle innerhalb dieser Website genannten Marken- und Warenzeichen unterliegen
        uneingeschränkt den Bestimmungen des jeweils gültigen Kennzeichnungsrechtes und
        gegebenenfalls den Besitzrechten der jeweiligen eingetragenen Eigentümer.
      </p>

    </div>
  </div>
</Layout>
