---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Impressum – FSC Berlin e.V.">
  <div class="container section">
    <div class="page-content">

      <h2>Impressum</h2>
      <p>
        Fechtsport Club Berlin e.V.<br />
        Benediktinerstraße 34<br />
        13465 Berlin<br />
        <a href="mailto:mail@fechtsport-club-berlin.de">mail@fechtsport-club-berlin.de</a>
      </p>

      <h5>Vertretungsberechtigter Vorstand:</h5>
      <p>
        Christian Kischa (Präsident)<br />
        Marvin Steinke (Presse- u. Öffentlichkeitsarbeit)
      </p>

      <h5>Registergericht:</h5>
      <p>
        Amtsgericht Berlin – Charlottenburg<br />
        Register-Nr.: VR 22535B<br />
        Steuernummer: 27/616/63145
      </p>

      <h5>Verantwortlich für den Inhalt gemäß § 10 Abs. 3 MDStV:</h5>
      <p>Marvin Steinke</p>

      <h5>Design &amp; Programmierung:</h5>
      <p>Marvin Steinke</p>

    </div>
  </div>
</Layout>
